body{
	margin:0px;
	width: 100%;
}
*{
	box-sizing: border-box;
}



/*header-part*/
#body-header{
	width: 100%
	height:auto;
	padding-top: 8px;
	background-color:  #222;
	display: flex;
	flex-direction: column;
	border-bottom: 2px solid #d45115;
}
#site-logo a{
	list-style: none;
	text-decoration: none;
}

/*nav-section*/

#navigation{
	display: flex;
	flex-wrap: wrap;
	padding: 17px;
	justify-content:center;

}
#navigation>div{
	color: white;
	letter-spacing:1px;
	padding: 5px;
	margin: 0px 20px;
	font-weight: bold;
	font-size: 25px; 
}

.nav-menu-bar{
	color: white;
	text-decoration: none;
	cursor: pointer;
}
#navigation a:hover{
	color: lightgrey;
}

/*main-sectiion*/

#container{
	display: flex;
	flex-wrap: wrap;
}
#left-side{
	width: 20%;
	height: auto;
}
#main-body{
	width: 60%;
	height: auto;
	padding: 20px;
}
#right-side{
	width: 18%;
	height: auto;
}
#main-body h1{
	text-align: center;
	text-decoration: underline black;
	color: #795548;
	font-family: sans-serif;
	letter-spacing: 1px;
	font-weight: bold;
	font-size: 2.2rem;
	margin-bottom: 20px;
}



/*footer*/
#web-details{
	 width: 100%;
	 height: auto;
	 background: #222;
	 padding: 15px;
	 display: flex;
	 flex-direction: column;
	 flex-wrap: wrap;
	 bottom: 0px;
}

#footer-nav-menu{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#footer-nav-menu >div{
	margin: 0px 20px;
}

#footer-nav-menu a{
	color: white;
	text-decoration: none;
	font-size: 15px;
}
#reserved p{
	text-align: center;
	color: white;
	font-size: 18px;
	margin: 35px 0PX 5PX 0PX;
}